.about {
    background-image: url(/img/About-Us.jpg);
    background-position: center;
    background-size: cover;
    height: 25rem;

    .container {
        justify-content: end;
    }

    .text-box {

        width: 50%;
        gap: 0.5rem;


    }
}