@use './variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@400..700&display=swap');


/* #region Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Reem Kufi Fun", sans-serif;
    word-spacing: 4px;
    letter-spacing: 1px;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* #endregion Common */

/* #region Utilities */
.d-flex {
    display: flex;
}

.container {
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

.p-section {
    padding: 4rem 0;
}

.text-box {
    position: relative;
    flex-direction: column;
    color: $cine-lightest;
    justify-content: center;
    height: 100%;
}

.btn-light {
    background-color: $cine-lightest;
    border: none;
    padding: 0.5rem 1.5rem;
    font-size: 10px;
    font-weight: bold;
    width: fit-content;
    margin-top: 1rem;

}

.section-title {
    text-align: center;

    h2 {
        margin: 0.5rem 0;
    }
}

.row {
    margin: 0 -1rem;
}

/* .col {
    padding: 0 1rem;
} */