@use './variables' as *;

#site-header {

    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;

    .logo {

        height: 100%;
        flex-grow: 1;
    }

    .menu {
        width: fit-content;
        height: 100%;

        ul {
            align-items: center;
            gap: 2rem;
            font-size: 13px;


            li {
                padding: 0.5rem 0;
                gap: 2px;
                position: relative;
                font-weight: bold;

                .dropdown-menu {
                    display: none;
                    color: $cine-lightest;
                    position: absolute;
                    left: 0;
                    top: 30px;
                    z-index: 1;
                    width: 9rem;


                    li {
                        background-color: $cine-darkest;
                        padding: 0.5rem;
                        border-bottom: 1px solid $cine-dark;
                        font-size: 10px;

                        &:hover {
                            width: 10rem;
                        }
                    }
                }

                &:hover .dropdown-menu {
                    display: block;
                }
            }

            img {
                display: inline-block;
                width: 8px;
                height: 8px;
                align-self: flex-end;
                margin-bottom: 5px;
            }
        }
    }

    .tools {

        justify-content: end;
        height: 100%;
        flex-grow: 1;


        .search {
            border-right: $cine-light 2px solid;
            padding: 0 0.7rem;
            align-items: center;

            img {
                width: 16px;
                height: 16px;

            }
        }

        .social {

            img {
                width: 12px;
                height: 12px;
                margin: 0 0.7rem;
            }

        }
    }

}