@use './variables' as *;

#site-header {

    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;

    svg {
        fill: $cine-darkest;
    }

    .logo {

        height: 100%;
        flex-grow: 1;
    }

    .menu {
        width: fit-content;
        height: 100%;

        ul {
            align-items: center;
            gap: 2rem;
            font-size: 11px;
            font-weight: bold;

            li {
                padding: 0;
                gap: 2px;
            }

            svg {
                display: inline-block;
                width: 8px;
                height: 8px;
                align-self: flex-end;
                margin-bottom: 2px;
            }
        }
    }

    .tools {

        justify-content: end;
        height: 100%;
        flex-grow: 1;


        .search {
            border-right: $cine-light 2px solid;
            padding: 0 0.7rem;
            align-items: center;

            svg {
                width: 16px;
                height: 16px;
                line-height: 16px;
            }
        }

        .social {

            svg {
                width: 12px;
                height: 12px;
                margin: 0 0.7rem;
            }

        }
    }

}