@use './variables' as *;


.row {
    flex-wrap: wrap;


    .col {
        width: calc(100%/12*4);
        flex-direction: column;
        gap: 0.8rem;
        text-align: center;
        padding: 0 1rem;
        margin-bottom: 1rem;

        & span {
            color: $cine-dark;
        }
    }
}